name: Go

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.20

      - name: Install dependencies
        run: |
          go install -v github.com/ramya-rao-a/go-outline@latest
          go install -v github.com/cweill/gotests/gotests@latest
          go install -v github.com/fatih/gomodifytags@latest
          go install -v github.com/josharian/impl@latest
          go install -v github.com/haya14busa/goplay/cmd/goplay@latest
          go install -v honnef.co/go/tools/cmd/staticcheck@latest

      - name: Show versions
        run: |
          go version

      - name: Vet
        run: |
          go vet ./...

      - name: Staticcheck
        run: |
          staticcheck ./...

      - name: Test
        run: |
          go test -v ./...

      - name: Build
        run: |
          go build -v ./...
